{{template "header.reference.yml.tmpl" .}}
{{template "config.modules.yml.tmpl" .}}
{{template "filebeat.inputs.reference.yml.tmpl" .}}
{{template "filebeat.autodiscover.reference.yml.tmpl" .}}
{{template "filebeat.global.reference.yml.tmpl" .}}
