{{header "Filebeat autodiscover"}}

# Autodiscover allows you to detect changes in the system and spawn new modules
# or inputs as they happen.

#filebeat.autodiscover:
  # List of enabled autodiscover providers
#  providers:
#    - type: docker
#      templates:
#        - condition:
#            equals.docker.container.image: busybox
#          config:
#            - type: container
#              paths:
#                - /var/log/containers/*.log

#Example: for kubernetes container logs autodiscovery
#  filebeat.autodiscover:
#    providers:
#      - type: kubernetes
#        node: ${NODE_NAME}
#        hints.enabled: true
#        # By default requests to kubeadm config map are made in order to enrich cluster name by requesting /api/v1/namespaces/kube-system/configmaps/kubeadm-config API endpoint.
#        use_kubeadm: true
#        hints.default_config:
#          type: filestream
#          id: kubernetes-container-logs-${data.kubernetes.pod.name}-${data.kubernetes.container.id}
#          paths:
#          - /var/log/containers/*-${data.kubernetes.container.id}.log
#          parsers:
#          - container: ~
#          prospector:
#            scanner:
#              fingerprint.enabled: true
#              symlinks: true
#          file_identity.fingerprint: ~

#By default requests to kubeadm config map are made in order to enrich cluster name by requesting /api/v1/namespaces/kube-system/configmaps/kubeadm-config API endpoint.
#  use_kubeadm: true
