{{header "Filebeat autodiscover"}}

# Autodiscover allows you to detect changes in the system and spawn new modules
# or inputs as they happen.

#filebeat.autodiscover:
  # List of enabled autodiscover providers
#  providers:
#    - type: docker
#      templates:
#        - condition:
#            equals.docker.container.image: busybox
#          config:
#            - type: container
#              paths:
#                #Uncomment below line if you want to enable CRI-O based logs autodiscover
#                #- /var/log/pods/${data.kubernetes.pod.uid}/${data.kubernetes.container.name}/*.log
#                - /var/lib/docker/containers/${data.docker.container.id}/*.log
