#!/usr/bin/env bash

BEAT_NAME="{{.BeatName}}"
VERSION="{{.Version}}{{if .Snapshot}}-SNAPSHOT{{end}}"
SCRIPT="postinstall"
INSTALL_DIR="{{.install_path}}/{{.BeatVendor}}/{{.BeatName}}"
IDENTIFIER="{{.identifier}}"
VERSIONED_EXECUTABLE="/etc/{{.BeatName}}/data/{{.BeatName}}-{{ commit_short }}/{{.BeatName}}{{.BinaryExt}}"
EXE_ROOT="/Library/Application Support/{{.BeatVendor}}/{{.BeatName}}/bin"
EXE_NAME="{{.BeatName}}{{.BinaryExt}}"

log() {
    LEVEL="$1"; shift
    syslog -s -l "$LEVEL" "$BEAT_NAME $SCRIPT: $@"
}

die() {
    log ERROR "Failed: $@"
}

log WARN "identifier: $IDENTIFIER"
log WARN "version: $VERSION"
log WARN "install_dir: $INSTALL_DIR"

mkdir -p "$EXE_ROOT" || die "Unable to create $BEAT_NAME bin directory"
ln -s "$VERSIONED_EXECUTABLE" "$EXE_ROOT/$EXE_NAME" || die "Unable to create $BEAT_NAME symlink"

DAEMON_PLIST="/Library/LaunchDaemons/$IDENTIFIER.plist"
launchctl unload -w "$DAEMON_PLIST"
rm -f "$DAEMON_PLIST"
ln -s "$INSTALL_DIR/$IDENTIFIER.plist" "$DAEMON_PLIST" || die "Unable to create $DAEMON_PLIST symlink"
launchctl load -w "$DAEMON_PLIST" || die "Unable to install launchctl daemon $DAEMON_PLIST"
