{{header "Logging"}}

# Sets log level. The default log level is info.
# Available log levels are: error, warning, info, debug
#logging.level: debug

# At debug level, you can selectively enable logging only for some components.
# To enable all selectors, use ["*"]. Examples of other selectors are "beat",
# "publisher", "service".
#logging.selectors: ["*"]

# Some outputs will log raw events on errors like indexing errors in the
# Elasticsearch output, to prevent logging raw events together with other
# log messages, a different log file, only for log entries containing raw events,
# is used. It will use the same level, selectors and all other configurations
# from the default logger, but it will have it's own file configuration.
#logging.events:
  #files:
    # Configure the path where the logs are written. The default is the logs directory
    # under the home path (the binary location).
    #path: /var/log/{{.BeatName}}

    # The name of the files where the logs are written to.
    #name: {{.BeatName}}-events-data
