{{header "Kibana"}}

# Starting with Beats version 6.0.0, the dashboards are loaded via the Kibana API.
# This requires a Kibana endpoint configuration.
setup.kibana:

  # Kibana Host
  # Scheme and port can be left out and will be set to the default (http and 5601)
  # In case you specify and additional path, the scheme is required: http://localhost:5601/path
  # IPv6 addresses should always be defined as: https://[2001:db8::1]:5601
  #host: "localhost:5601"

  # Proxy URL
  # Specify a proxy URL that will route kibana setup tasks.
  # This can be either an HTTP or HTTPS URL. If no value is set, 
  # the HTTPS_PROXY and HTTP_PROXY environment variables will be checked.
  #proxy_url: "https://proxy:3128"

  # Whether to disable proxy settings for outgoing connections during setup. If true, this
  # takes precedence over both the proxy_url field and any environment settings
  # (HTTP_PROXY, HTTPS_PROXY). The default is false.
  #proxy_disable: false

  # Kibana Space ID
  # ID of the Kibana Space into which the dashboards should be loaded. By default,
  # the Default Space will be used.
  #space.id:
