{{header "Datastream Lifecycle (DSL)"}}

# Configure Datastream Lifecycle to manage datastreams while connected to serverless elasticsearch. 
# These settings are mutually excusive with ILM settings.

# Enable DSL support. Valid values are true, or false.
#setup.dsl.enabled: true

# Set the lifecycle policy name. The default policy name is
# 'beatname'.
#setup.dsl.policy_name: "mypolicy"

# The path to a JSON file that contains a lifecycle policy configuration. Used
# to load your own lifecycle policy.
#setup.dsl.policy_file:

# Disable the check for an existing lifecycle policy. The default is true. If
# you disable this check, set setup.dsl.overwrite: true so the lifecycle policy
# can be installed.
#setup.dsl.check_exists: true

# Overwrite the lifecycle policy at startup. The default is false.
#setup.dsl.overwrite: false