################### Beat Configuration #########################
functionbeat.provider.aws.deploy_bucket: {{deploy_bucket}}
functionbeat.provider.aws.functions:
    - {{function | to_yaml | indent(6, false)}}
############################# Logging #########################################

#logging:
  # Send all logging output to syslog. On Windows default is false, otherwise
  # default is true.
  #to_syslog: true

  # Write all logging output to files. Beats automatically rotate files if configurable
  # limit is reached.
  #to_files: false

  # Enable debug output for selected components.
  #selectors: []

  # Set log level
  #level: error

  #files:
    # The directory where the log files will written to.
    #path: /var/log/functionbeat

    # The name of the files where the logs are written to.
    #name: functionbeat

    # Configure log file size limit. If limit is reached, log file will be
    # automatically rotated
    #rotateeverybytes: 10485760 # = 10MB

    # Number of rotated log files to keep. Oldest files will be deleted first.
    #keepfiles: 7

#============================= Elastic Cloud ==================================

# These settings simplify using filebeat with the Elastic Cloud (https://cloud.elastic.co/).

# The cloud.id setting overwrites the `output.elasticsearch.hosts` and
# `setup.kibana.host` options.
# You can find the `cloud.id` in the Elastic Cloud web UI.
cloud.id: {{cloud_id}}

# The cloud.auth setting overwrites the `output.elasticsearch.username` and
# `output.elasticsearch.password` settings. The format is `<user>:<pass>`.
cloud.auth: {{cloud_auth}}

#================================ General ======================================
{% if options %}
{{options| to_yaml}}
{% endif %}
