version: '2.3'
services:
  beat:
    build: ${PWD}/.
    depends_on:
      - proxy_dep
    env_file:
      - ${PWD}/input/redis/_meta/env
    environment:
      - BEAT_STRICT_PERMS=false
      - ES_HOST=elasticsearch
      - ES_PORT=9200
      - ES_USER=beats
      - ES_PASS=testing
      - KAFKA_HOST=kafka
      - KAFKA_PORT=9092
      - KIBANA_HOST=kibana
      - KIBANA_PORT=5601
    working_dir: /go/src/github.com/elastic/beats/filebeat
    volumes:
      - ${PWD}/..:/go/src/github.com/elastic/beats/
      # We launch docker containers to test docker autodiscover:
      - /var/run/docker.sock:/var/run/docker.sock
    command: make

  # This is a proxy used to block beats until all services are healthy.
  # See: https://github.com/docker/compose/issues/4369
  proxy_dep:
    image: busybox
    depends_on:
      elasticsearch: { condition: service_healthy }
      kafka:         { condition: service_healthy }
      kibana:        { condition: service_healthy }
      redis:         { condition: service_healthy }

  elasticsearch:
    extends:
      file: ${ES_BEATS}/testing/environments/${TESTING_ENVIRONMENT}.yml
      service: elasticsearch

  kafka:
    build: ${ES_BEATS}/testing/environments/docker/kafka
    expose:
      - 9092
      - 2181
    environment:
      - ADVERTISED_HOST=kafka

  kibana:
    extends:
      file: ${ES_BEATS}/testing/environments/${TESTING_ENVIRONMENT}.yml
      service: kibana

  redis:
    build: ${PWD}/input/redis/_meta
