################### Osquerybeat Configuration Example #########################

############################# Osquerybeat ######################################

osquerybeat:
#  inputs:
#    - type: osquery
#      streams:
#        - id: "CFDE1EAA-0C6C-4D19-9EEC-45802B2A8C01"
#          query: "select * from processes"
#          interval: 60

# ============================== Process Security ==============================
# Disable seccomp system call filtering on Linux.
# Otherwise osquerybeat can't fork osqueryd with error: Failed to start osqueryd process: fork/exec ./osqueryd: operation not permitted
seccomp.enabled: false
