CHANGELOG.next.asciidoc  merge=union
CHANGELOG-developer.next.asciidoc  merge=union

# use lf for go files
*.go text eol=lf
*.sh text eol=lf

# Test data files should always use LF to ensure consistent byte sizes across platforms
**/testdata/** text eol=lf

# Keep these file types as CRLF (Windows).
*.bat    text eol=crlf
*.cmd    text eol=crlf
