# Directories
/.vagrant
/.idea
/.vscode
/build
/*/*.template*.json
**/html_docs
*beat/fields.yml
*beat/_meta/kibana.generated
*beat/build
*beat/logs
*beat/data
**/ironbank/build/
x-pack/functionbeat/pkg
x-pack/elastic-agent/data
x-pack/elastic-agent/pkg/agent/operation/tests/downloads

# Files
.DS_Store
/beats.iml
*.dev.yml
*.generated.yml
coverage.out
#.python-version
beat.db
*.keystore
go_env.properties
mage_output_file.go
x-pack/functionbeat/*/fields.yml
x-pack/functionbeat/provider/*/functionbeat-*
x-pack/dockerlogbeat/temproot.tar
x-pack/elastic-agent/elastic_agent
x-pack/elastic-agent/fleet.yml
x-pack/elastic-agent/pkg/agent/operation/tests/scripts/configurable-1.0-darwin-x86_64/configurable
x-pack/elastic-agent/pkg/agent/operation/tests/scripts/serviceable-1.0-darwin-x86_64/serviceable

# Editor swap files
*.swp
*.swo
*.swn

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.exe
*.test
*.prof
*.pyc

# Terraform
*.terraform
*.tfstate*

# Files generated with the bump version automations
*.bck
