language: go

os:
  - linux
#  - osx

go:
  - 1.5.1

env:
  - TARGETS="check testsuite"

# Only execute the crosscompile target one time during the build.
#matrix:
#  exclude:
#    - os: osx
#      env: TARGETS="crosscompile"

sudo: false

before_install:
  # Redo the travis setup but with the elastic/topbeat path. This is needed so the package path is correct
  - mkdir -p $HOME/gopath/src/github.com/elastic/topbeat
  - rsync -az ${TRAVIS_BUILD_DIR}/ $HOME/gopath/src/github.com/elastic/topbeat/
  - export TRAVIS_BUILD_DIR=$HOME/gopath/src/github.com/elastic/topbeat
  - cd $HOME/gopath/src/github.com/elastic/topbeat

install:
  - make

script:
  - make $TARGETS

notifications:
  hipchat:
    rooms:
      secure: A0r38/F0zDnnUuCMNEObvcy3S86LbEpDLbAorVwnomQd45NKiOaeEDlywLpqt90Gp8JqYsSSi7iEvDqN5+vltSC9SnsBuIcSEPLFuDnGOGNEM2D7MB2flBfB5k31xwxwenykJObqhO76f/y2D8r5AqUZb/cw01ark4ylZ5hpZ26jEfZBBdyLvI1r5j7ZR1yNDR8DasFS4CEteqaF/mOXB378gZ8Q0AH38uJYa9kQP1RpI9swxW01BysbcarFra4D6TqCKGJiBJvKIHNqD+8KsIp4aogIl13WT7XUmTgFoAhIu0En9q9MIayLee+kyGINUfaUAnSn1Q30JEqaEpuE2K6sCYJBsBwJ93E+x+Es8PGl8gbnUXC1S6ZvMN9E1swvWePv3c2QqzvO3GUlPk1nb38dhUSWFWt28NyEGNA6M3cIYjjdS2oyaTBvIYpSQbDaUfJTJyacotiKAXQYfYJs9N5QTeO/YF1Bc+vYCn9QIiqvsOWzO6Yo3Z09nHchdkZXG+oWI7CyPf0i0z+i8D5zVLx867Ebp4DjoEKVL1We1q1WJ0dC2mHm0hu1KYBEWJh2PWjofJxqrE0fPIps0vK+3LdCbsLwU31DFulhFbtg3Qx7KMI9TFHlaECK+YFeHGDo2M4CsD4kaIr4XIL3CMDGk2XYjdBV71ObjXo6ez3784U=

after_success:
  # Copy profile.cov to coverage.txt because codecov.io requires this file
  - cp profile.cov coverage.txt
  - test -f build/coverage/full.cov && bash <(curl -s https://codecov.io/bash) -f build/coverage/full.cov
