################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

{beat}:
  # Defines how often an event is sent to the output
  period: 1s
