<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
        <string>{{.identifier}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{.install_path}}/{{.BeatVendor}}/{{.BeatName}}/bin/{{.BeatName}}</string>
        <string>-environment</string>
        <string>macOS_service</string>
        <string>-c</string>
        <string>/etc/{{.BeatName}}/{{.BeatName}}.yml</string>
        <string>--path.home</string>
        <string>{{.install_path}}/{{.BeatVendor}}/{{.BeatName}}</string>
        <string>--path.config</string>
        <string>/etc/{{.BeatName}}</string>
        <string>--path.data</string>
        <string>/var/lib/{{.BeatName}}</string>
        <string>--path.logs</string>
        <string>/var/log/{{.BeatName}}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>Umask</key>
    <integer>
        0027
    </integer>
</dict>
</plist>
