<html>
    <head>
        <title>{{.BeatName | title}} {{.Version}}{{if .Snapshot}}-SNAPSHOT{{end}} README</title>
    </head>
<body style="font-family: Verdana, Arial, sans-serif">
<h1>{{.BeatName | title}} {{.Version}}{{if .Snapshot}}-SNAPSHOT{{end}}</h1>

<p>{{.Description}}</p>

<h2>Getting Started</h2>

<p>To get started with {{.BeatName | title}}, you need to set up Elasticsearch on
your localhost first. After that, start {{.BeatName | title}} with:</p>

<pre><code> ./{{.BeatName}} -c {{.BeatName}}.yml -e
</code></pre>

<p>This will start {{.BeatName | title }} and send the data to your Elasticsearch
instance. To load the dashboards for {{.BeatName | title}} into Kibana, run:</p>

<pre><code>./{{.BeatName}} setup -e
</code></pre>

<p>For further steps visit the
<a href="https://www.elastic.co/guide/en/beats/{{.BeatName}}/{{ beat_doc_branch }}/{{.BeatName}}-getting-started.html">Getting started</a> guide.</p>

<h2>Documentation</h2>

<p>Visit <a href="https://www.elastic.co/guide/en/beats/{{.BeatName}}/{{ beat_doc_branch }}/index.html">Elastic.co Docs</a>
for the full {{.BeatName | title}} documentation.</p>

<h2>Release notes</h2>

<p>https://www.elastic.co/guide/en/beats/libbeat/{{ beat_doc_branch }}/release-notes-{{.Version}}.html</p>
</body>
</html>
