{
  "hits": 0,
  "timeRestore": false,
  "description": "",
  "title": "{{beatname}} Dashboard",
  "uiStateJSON": "{}",
  "panelsJSON": "{{ panelsJSON }}",
  "optionsJSON": "{\"darkTheme\":false}",
  "version": 1,
  "kibanaSavedObjectMeta": {
    "searchSourceJSON": "{{ searchSourceJSON }}"
  }
}
