{
  "sort": [
    "@timestamp",
    "desc"
  ],
  "hits": 0,
  "description": "",
  "title": "{{title}}",
  "version": 1,
  "kibanaSavedObjectMeta": {
    "searchSourceJSON": "{{searchSourceJSON}}"
  },
  "columns": [
    "record_number",
    "log_name",
    "level",
    "source_name",
    "message",
    "event_id",
    "user.name"
  ]
}
