[Unit]
Description={{.Description}}
Documentation={{.URL}}
Wants=network-online.target
After=network-online.target

[Service]
{{ if ne .BeatUser "root" -}}
User={{ .BeatUser }}
Group={{ .BeatUser }}
{{- end }}
UMask=0027
Environment="GODEBUG='madvdontneed=1'"
Environment="BEAT_CONFIG_OPTS=-c /etc/{{.BeatName}}/{{.BeatName}}.yml"
ExecStart=/usr/bin/{{.BeatName}} run --environment systemd $BEAT_CONFIG_OPTS
Restart=always

[Install]
WantedBy=multi-user.target
