{{- define "depInfo" -}}
{{- range $i, $dep := . }}
{{ "-" | line }}
Dependency : {{ $dep.Name }}
Version: {{ $dep.Version }}
Licence type (autodetected): {{ $dep.LicenceType }}
{{ "-" | line }}

{{ $dep | licenceText }}
{{ end }}
{{- end -}}

Elastic Beats
Copyright 2014-{{ currentYear }} Elasticsearch BV

This product includes software developed by The Apache Software 
Foundation (http://www.apache.org/).

{{ "=" | line }}
Third party libraries used by the Elastic Beats project:
{{ "=" | line }}

{{ template "depInfo" .Direct }}

{{ if .Indirect }}
{{ "=" | line }}
Indirect dependencies

{{ template "depInfo" .Indirect -}}
{{- end}}
