{{header "Processors"}}

processors:
  - add_observer_metadata:
      # Optional, but recommended geo settings for the location Heartbeat is running in
      #geo:
        # Token describing this location
        #name: us-east-1a
        # Lat, Lon "
        #location: "37.926868, -78.024902"
  - detect_mime_type:
      field: http.response.body.content
      target: http.response.mime_type
