{{ if .Reference -}}
{{ end -}}
{{ if ne .GOOS "windows" -}}
- module: system

  metricsets:
    - host
    - packages
    - process
    {{ if eq .GOOS "linux" -}}
    - socket
    - user
    {{- end }}

  state.period: 12h

  report_changes: true
{{- end }}
{{ if .Reference }}
{{- end }}
