- type: {{monitor}}
  # list of hosts to monitor
  hosts: ["localhost:12345"]

  # Configure task schedule
  schedule: '@every 30s'

  # Total test connection and data exchange timeout
  #timeout: 16s
