type: log
paths:
{{ range $i, $path := .paths }}
 - {{$path}}
{{ end }}
exclude_files: [".gz$"]
exclude_lines: ["^#"]
processors:
  - add_fields:
      target: ''
      fields:
        ecs.version: 1.12.0
