<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    version="2.5">
  <display-name>Test Dropwizard</display-name>
  
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>io.test.dropwizard.TestServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>

<listener>
 <listener-class>io.test.dropwizard.MetricsServletContextListener</listener-class>
 </listener>
 
  <servlet>
        <servlet-name>CodahaleMetrics</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.MetricsServlet</servlet-class>
        <init-param>
            <param-name>metrics-uri</param-name>
            <param-value>/metrics</param-value>
        </init-param>
        <init-param>
            <param-name>ping-uri</param-name>
            <param-value>/ping</param-value>
        </init-param>
        <init-param>
            <param-name>healthcheck-uri</param-name>
            <param-value>/health</param-value>
        </init-param>
        <init-param>
            <param-name>threads-uri</param-name>
            <param-value>/threads</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>CodahaleMetrics</servlet-name>
        <url-pattern>/metrics/*</url-pattern>
    </servlet-mapping>

  
</web-app>
