# Delete and stop the service if it already exists.
if (Get-Service {{.BeatName}} -ErrorAction SilentlyContinue) {
  Stop-Service {{.BeatName}}
  (Get-Service {{.BeatName}}).WaitForStatus('Stopped')
  Start-Sleep -s 1
  sc.exe delete {{.BeatName}}
}
