# Delete and stop the service if it already exists.
if (Get-Service {{.BeatName}} -ErrorAction SilentlyContinue) {
  try {
    $service = Get-WmiObject -Class Win32_Service -Filter "name='{{.BeatName}}'"
    $service.StopService()
    (Get-Service {{.BeatName}}).WaitForStatus('Stopped')
    Start-Sleep -s 1
    $service.delete()
  }
  catch {
    Stop-Service {{.BeatName}}
    (Get-Service {{.BeatName}}).WaitForStatus('Stopped')
    Start-Sleep -s 1
    sc.exe delete {{.BeatName}}
  }
}
