filebeat.config.modules:
  path: {{ beat.working_dir + '/modules.d/*.yml' }}

filebeat.overwrite_pipelines: true

{% if not skip_registry_config %}
filebeat.registry:
  path: {{ beat.working_dir + '/' }}{{ registry_home|default("registry")}}
  file_permissions: {{ registry_file_permissions|default("0600") }}
  {% if registry_migrate_file %}
  migrate_file: {{ beat.working_dir + '/' + registry_migrate_file }}
  {% endif %}
{%endif%}

output.elasticsearch.hosts: ["{{ elasticsearch.host }}"]
output.elasticsearch.index: {{ index_name }}
output.elasticsearch.username: {{ elasticsearch.user }}
output.elasticsearch.password: {{ elasticsearch.pass }}

setup.template.name: {{ index_name }}
setup.template.pattern: {{ index_name }}*

setup.kibana.host: {{ kibana_url }}

{% if kibana_path %}
setup.dashboards.directory: {{ kibana_path }}
{% endif %}
