version: '2'
services:
  beat:
    build: ${PWD}/.
    depends_on:
      - proxy_dep
    env_file:
      - ${PWD}/build/test.env
    working_dir: /go/src/github.com/elastic/beats/auditbeat
    volumes:
      - ${PWD}/..:/go/src/github.com/elastic/beats/
    command: make

  # This is a proxy used to block beats until all services are healthy.
  # See: https://github.com/docker/compose/issues/4369
  proxy_dep:
    image: busybox
    depends_on:
      elasticsearch: { condition: service_healthy }

  elasticsearch:
    extends:
      file: ../testing/environments/${TESTING_ENVIRONMENT}.yml
      service: elasticsearch
