###################### Winlogbeat Configuration Example ########################

# This file is an example configuration file highlighting only the most common
# options. The winlogbeat.reference.yml file from the same directory contains
# all the supported options with more comments. You can use it as a reference.
#
# You can find the full configuration reference here:
# https://www.elastic.co/guide/en/beats/winlogbeat/index.html

{{header "Winlogbeat specific options"}}

{{if .Reference -}}
# The registry file is where Winlogbeat persists its state so that the beat can
# resume after shutdown or an outage. The default is .winlogbeat.yml in the
# directory in which it was started.
#winlogbeat.registry_file: .winlogbeat.yml

# The timeout value that controls when registry entries are written to disk
# (flushed). When an unwritten update exceeds this value, it triggers a write
# to disk. When flush is set to 0s, the registry is written to disk after each
# batch of events has been published successfully. The default value is 5s.
#winlogbeat.registry_flush: 5s

# By default Ingest pipelines are not updated if a pipeline with the same ID
# already exists. If this option is enabled Winlogbeat overwrites pipelines
# every time a new Elasticsearch connection is established.
#winlogbeat.overwrite_pipelines: false

{{end -}}
# event_logs specifies a list of event logs to monitor as well as any
# accompanying options. The YAML data type of event_logs is a list of
# dictionaries.
#
# The supported keys are name, id, xml_query, tags, fields, fields_under_root,
# forwarded, ignore_older, level, event_id, provider, and include_xml.
# The xml_query key requires an id and must not be used with the name,
# ignore_older, level, event_id, or provider keys. Please visit the
# documentation for the complete details of each option.
# https://go.es.io/WinlogbeatConfig
