libbeat:
  build: ..
  links:
    - redis
    - elasticsearch
    - logstash
  environment:
    - REDIS_HOST=redis
    - REDIS_PORT=6379
    - LS_HOST=logstash
    - LS_TCP_PORT=5044
    - LS_TLS_PORT=5055
    - ES_USER=beats
    - ES_PASS=testing
    # Setup work environment
    - LIBBEAT_PATH=/go/src/github.com/elastic/beats/libbeat
    # TODO: Set to true as soon as stable release is out
    - SHIELD=false
  env_file:
    - build/test.env
  working_dir: /go/src/github.com/elastic/beats/libbeat
  command: make
  entrypoint: /entrypoint.sh
elasticsearch:
  build: ../testing/environments/docker/elasticsearch
  dockerfile: Dockerfile-2.2.0
  command: elasticsearch -Des.network.host=0.0.0.0
redis:
  image: redis
# This host name is fixed because of the certificate
logstash:
  build: ../testing/environments/docker/logstash
  dockerfile: Dockerfile-2.2.0
  env_file:
    - build/test.env
  links:
    - elasticsearch
  environment:
    - ES_USER=beats
    - ES_PASS=testing
