beat:
  build: ${PWD}/.
  links:
    - apache
    - mysql
    - redis
    - zookeeper
  environment:
    - APACHE_HOST=apache
    - APACHE_PORT=80
    - REDIS_HOST=redis
    - REDIS_PORT=6379
    - MYSQL_DSN=root:test@tcp(mysql:3306)/
    - MYSQL_HOST=mysql
    - MYSQL_PORT=3306
    - ZOOKEEPER_HOST=zookeeper
    - ZOOKEEPER_PORT=2181
    - TEST_ENVIRONMENT=false
  working_dir: /go/src/github.com/elastic/beats/metricbeat
  volumes:
    - ${PWD}/..:/go/src/github.com/elastic/beats/
  command: make
  entrypoint: /go/src/github.com/elastic/beats/metricbeat/docker-entrypoint.sh

# Modules
apache:
  build: ${PWD}/tests/environments/apache

mysql:
  image: mysql:5.7.10
  environment:
    - MYSQL_ROOT_PASSWORD=test

redis:
  image: redis:3.0.7

zookeeper:
  image: jplock/zookeeper:3.4.8
