input {
  beats {
    port => 12345
    ssl => false
  }
}

output {
  elasticsearch {
      protocol => "http"
      host => ""
      port => "9200"
      index => "%{[@metadata][index]}"
      document_type => "%{[@metadata][type]}"
  }

  # stdout{}
}