# agent
build/
agent.dev.yml
pkg/agent/operation/tests/scripts/short--1.0.yml
pkg/agent/operation/tests/scripts/configurable-1.0-darwin-x86/configurable
pkg/agent/operation/tests/scripts/configurablebyfile-1.0-darwin-x86/configurablebyfile
pkg/agent/application/fleet.yml
pkg/core/plugin/operation/tests/scripts/configurable/1.0/configurable
