type: log
paths:
{{ range $i, $path := .paths }}
 - {{$path}}
{{ end }}
exclude_files: [".gz$"]
multiline:
  pattern: '^\['
  negate: true
  match: after
processors:
  - add_fields:
      target: ''
      fields:
        ecs.version: 1.12.0
