{{.Header}}
package generated

{{- if .HasViews}}
import (
	"github.com/elastic/beats/v7/x-pack/osquerybeat/ext/osquery-extension/pkg/hooks"
	"github.com/elastic/beats/v7/x-pack/osquerybeat/ext/osquery-extension/pkg/logger"
{{- range .ViewImports}}
	{{.Alias}} "{{.Path}}"
{{- end}}
)
{{- else}}
import (
	"github.com/elastic/beats/v7/x-pack/osquerybeat/ext/osquery-extension/pkg/hooks"
	"github.com/elastic/beats/v7/x-pack/osquerybeat/ext/osquery-extension/pkg/logger"
)
{{- end}}

// RegisterViews registers all generated views with the hook manager.
// This function is called from main.go after all init() functions have run.
{{- if not .HasViews}}
// No views are defined for this platform.
{{- end}}
func RegisterViews(hookManager *hooks.HookManager, log *logger.Logger) {
{{- if not .HasViews}}
	// No views to register for this platform
{{- else}}
{{- range .Entries}}
	{
		// {{.Description}}
		hooksFunc, err := {{.PackageAlias}}.GetHooksFunc()
		if err != nil {
			{{.PackageAlias}}.RegisterDefaultViewHook(hookManager)
		} else {
			hooksFunc(hookManager)
		}
		log.Infof("Registered view: {{.Name}}")
	}

{{- end}}
{{- end}}
}
