#=========================== Filebeat inputs =============================

# Configure the input to access loggregator to forward the log events.

filebeat.inputs:
  - &cloudfoundry
    type: cloudfoundry
    client_id: ${CLIENT_ID:filebeat}
    client_secret: ${CLIENT_SECRET:changeme}
    api_address: ${API_ADDRESS}
    #doppler_address: ${DOPPLER_ADDRESS}
    #uaa_address: ${UAA_ADDRESS}
    #rlp_address: ${RLP_ADDRESS}
    #shard_id: ${SHARD_ID}


#================================ Outputs =====================================

# Configure the Elasticsearch output either to a specific host or using
# Elastic Cloud.

#-------------------------- Elasticsearch output ------------------------------
output.elasticsearch:
  # Array of hosts to connect to.
  hosts: ["${ELASTICSEARCH_OUTPUT}:9200"]

  # Protocol - either `http` (default) or `https`.
  #protocol: "https"

  # Authentication credentials - either API key or username/password.
  #api_key: "id:api_key"
  #username: "elastic"
  #password: "changeme"

#----------------------------- Elastic Cloud ----------------------------------

# These settings simplify using Filebeat with the Elastic Cloud (https://cloud.elastic.co/).

# The cloud.id setting overwrites the `output.elasticsearch.hosts` and
# `setup.kibana.host` options.
# You can find the `cloud.id` in the Elastic Cloud web UI.
#cloud.id:

# The cloud.auth setting overwrites the `output.elasticsearch.username` and
# `output.elasticsearch.password` settings. The format is `<user>:<pass>`.
#cloud.auth:

#================================ Processors =====================================

# Configure processors to enhance or manipulate events generated by the beat.

processors:
  - add_cloudfoundry_metadata:
      <<: *cloudfoundry
