# yaml-language-server: $schema=https://raw.githubusercontent.com/buildkite/pipeline-schema/main/schema.json

env:
  IMAGE_UBUNTU_X86_64: "family/platform-ingest-beats-ubuntu-2204"
  GCP_HI_PERF_MACHINE_TYPE: "c2d-highcpu-16"
  MODULE: "kubernetes"

  # Other deps
  ASDF_KIND_VERSION: "0.20.0"

steps:
  - group: "Deploy/K8S"
    if: build.env("BUILDKITE_PULL_REQUEST") != "false"

    steps:
    - label: "Checks"
      command: |
        set -euo pipefail
        make -C deploy/kubernetes all
        make check-no-changes
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s checks"

    - label: "K8S Test/K8S version: v1.30.2"
      key: "k8s-test-130"
      env:
        K8S_VERSION: "v1.30.2"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s test v1.30.2"

    - label: "K8S Test/K8S version: v1.29.4"
      key: "k8s-test-129"
      env:
        K8S_VERSION: "v1.29.4"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s test v1.29.4"

    - label: "K8S Test/K8S version: v1.28.9"
      key: "k8s-test-128"
      env:
        K8S_VERSION: "v1.28.9"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s test v1.28.9"

    - label: "K8S Test/K8S version: v1.27.13"
      key: "k8s-test-127"
      env:
        K8S_VERSION: "v1.27.13"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s test v1.27.13"
