# yaml-language-server: $schema=https://raw.githubusercontent.com/buildkite/pipeline-schema/main/schema.json

env:
  IMAGE_UBUNTU_X86_64: "family/platform-ingest-beats-ubuntu-2204"
  GCP_HI_PERF_MACHINE_TYPE: "c2d-highcpu-16"
  MODULE: "kubernetes"

  # Other deps
  ASDF_KIND_VERSION: "0.20.0"

steps:
  - group: "Deploy/K8S"
    if: build.env("BUILDKITE_PULL_REQUEST") != "false" && build.env("GITHUB_PR_LABELS") =~ /.*kubernetes.*/

    steps:
    - label: "Checks"
      command: |
        set -euo pipefail
        make -C deploy/kubernetes all
        make check-no-changes
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s checks"

    - label: "K8S Test/K8S version: v1.21.14"
      key: "k8s-test-121"
      env:
        K8S_VERSION: "v1.21.14"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "Deploy/k8s-test v1.21.14"

    - label: "K8S Test/K8S version: v1.20.15"
      key: "k8s-test-120"
      env:
        K8S_VERSION: "v1.20.15"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "Deploy/k8s-test v1.20.15"

    - label: "K8S Test/K8S version: v1.19.16"
      key: "k8s-test-119"
      env:
        K8S_VERSION: "v1.19.16"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "Deploy/k8s-test v1.19.16"
