# yaml-language-server: $schema=https://raw.githubusercontent.com/buildkite/pipeline-schema/main/schema.json

env:
  IMAGE_UBUNTU_X86_64: "family/platform-ingest-beats-ubuntu-2204"
  GCP_HI_PERF_MACHINE_TYPE: "c2d-highcpu-16"
  MODULE: "kubernetes"
  GOX_FLAGS: "-arch amd64"

  # Other deps
  ASDF_KIND_VERSION: "0.20.0"

steps:
  - group: "Deploy/K8S"
    if: build.env("BUILDKITE_PULL_REQUEST") != "false" && build.env("GITHUB_PR_LABELS") =~ /.*kubernetes.*/

    steps:
    - label: "Checks"
      command: |
        set -euo pipefail
        make -C deploy/kubernetes all
        make check-no-changes
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s checks"

    - label: "K8S Test/K8S version: v1.29.0"
      key: "k8s-test-129"
      env:
        K8S_VERSION: "v1.29.0"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s test v1.29.0"

    - label: "K8S Test/K8S version: v1.28.0"
      key: "k8s-test-128"
      env:
        K8S_VERSION: "v1.29.0"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s test v1.28.0"

    - label: "K8S Test/K8S version: v1.27.3"
      key: "k8s-test-1273"
      env:
        K8S_VERSION: "v1.27.3"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s test v1.27.3"

    - label: "K8S Test/K8S version: v1.26.6"
      key: "k8s-test-1266"
      env:
        K8S_VERSION: "v1.26.6"
        MODULE: "${MODULE}"
      commands: |
        set -euo pipefail
        source .buildkite/deploy/kubernetes/scripts/setup-k8s-env.sh
        echo "--- Executing Tests"
        make -C metricbeat integration-tests
        make -C deploy/kubernetes test
      retry:
        automatic:
          - limit: 3
      agents:
        provider: "gcp"
        image: "${IMAGE_UBUNTU_X86_64}"
        machineType: "${GCP_HI_PERF_MACHINE_TYPE}"
      notify:
        - github_commit_status:
            context: "deploy/k8s test v1.26.6"
