journalbeat.inputs:
{% for input in inputs %}
- {{ input | tojson }}
{% endfor %}

{% if registry_file is defined %}
journalbeat.registry_file: {{ registry_file }}
{% endif %}

output:
  file:
    path: {{ output_file_path|default(beat.working_dir + "/output") }}
    filename: {{ output_file_filename|default("journalbeat") }}
