package cmd

import (
	"{beat_path}/beater"

	"github.com/elastic/beats/libbeat/cmd"
)

// Name of this beat
var Name = "{beat}"

// RootCmd for running {beat}.
var RootCmd *cmd.BeatsRootCmd

// RootCmd to handle beats cli
func init() {
	RootCmd = cmd.GenRootCmd(Name, appVersion, beater.New)
}
