#!/bin/bash

set -eo pipefail

# For information on the possible environment variables that can be passed into the container. Run the following
# command for information on the options that are available.
#
# `./elastic-agent container --help`
#

exec {{ .BeatName }} container "$@"
