version: '2.3'

services:
  cockroachdb:
    image: docker.elastic.co/integrations-ci/beats-cockroachdb:${COCKROACHDB_VERSION:-22.1.19}-1
    build:
      context: ./_meta
      args:
        COCKROACHDB_VERSION: ${COCKROACHDB_VERSION:-22.1.19}
    ports:
      - 8080
