{"op":"set","id":1}
{"k":"filestream::.global::native::22547725-65024","v":{"ttl":0,"updated":[281470681743360,18446744011573954816],"cursor":null,"meta":{"source":"{{log_file}}","identifier_name":"native"}}}
{"op":"set","id":2}
{"k":"filestream::.global::native::22547725-65024","v":{"cursor":null,"meta":{"source":"{{log_file}}","identifier_name":"native"},"ttl":1800000000000,"updated":[258574933112,1646666035]}}
{"op":"set","id":3}
{"k":"filestream::.global::native::22547725-65024","v":{"cursor":{"offset":{{offset}}},"meta":{"source":"{{log_file}}","identifier_name":"native"},"ttl":1800000000000,"updated":[258575572813,1646666035]}}

