version: '2.3'
services:
  # This is a proxy used to block beats until all services are healthy.
  # See: https://github.com/docker/compose/issues/4369
  proxy_dep:
    image: busybox
    depends_on:
      elasticsearch: { condition: service_healthy }
      elasticsearch_kerberos.elastic: { condition: service_healthy }
      kibana:        { condition: service_healthy }
      cometd: { condition: service_healthy }

  elasticsearch:
    extends:
      file: ${ES_BEATS}/testing/environments/${STACK_ENVIRONMENT}.yml
      service: elasticsearch
    healthcheck:
      test: ["CMD-SHELL", "curl -u admin:testing -s http://localhost:9200/_cat/health?h=status | grep -q green"]
      retries: 300
      interval: 1s
    ports:
      - 9200:9200

  elasticsearch_kerberos.elastic:
    build: ${ES_BEATS}/testing/environments/docker/elasticsearch_kerberos
    healthcheck:
      test: bash -c "/healthcheck.sh"
      retries: 1200
      interval: 5s
      start_period: 60s
    environment:
      - "TERM=linux"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m -Djava.security.krb5.conf=/etc/krb5.conf -Dsun.security.krb5.debug=true"
      - "transport.host=127.0.0.1"
      - "http.host=0.0.0.0"
      - "xpack.license.self_generated.type=trial"
      - "xpack.security.enabled=true"
      - "indices.id_field_data.enabled=true"
      - "xpack.security.audit.enabled=true"
      - "xpack.security.authc.realms.kerberos.elastic.order=0"
      - "xpack.security.authc.realms.kerberos.elastic.keytab.path=/usr/share/elasticsearch/config/HTTP_localhost.keytab"
      - "xpack.security.authc.realms.kerberos.elastic.remove_realm_name=false"
      - "xpack.security.authc.realms.kerberos.elastic.krb.debug=true"
    volumes:
      # This is needed otherwise there won't be enough entropy to generate a new kerberos realm
      - /dev/urandom:/dev/random
    ports:
      - 1088:1088
      - 1749:1749
      - 9203:9200
    command: bash -c "/start.sh"
    
  googlepubsub:
    image: docker.elastic.co/integrations-ci/beats-googlepubsub:emulator-${SDK_VERSION:-467.0.0-0}-1
    build:
      context: ${ES_BEATS}/testing/environments/docker/googlepubsub
      args:
        SDK_VERSION: ${SDK_VERSION:-467.0.0-0}
    hostname: googlepubsub
    ports:
      - 8432:8432

  cometd:
    build: ${ES_BEATS}/testing/environments/docker/cometd
    hostname: cometd
    ports:
      - 8080:8080

  kibana:
    extends:
      file: ${ES_BEATS}/testing/environments/${STACK_ENVIRONMENT}.yml
      service: kibana
    healthcheck:
      test: [ "CMD-SHELL", "curl -u beats:testing -s http://localhost:5601/api/status?v8format=true | grep -q '\"overall\":{\"level\":\"available\"'" ]
      retries: 600

## stream is a mock http service - required for integration testing
  beatStreams:
    image: docker.elastic.co/observability/stream:v0.15.0
    hostname: testStreams
    ports:
      - 8090:8090
    volumes:
      - ./tests/integration/testdata/:/files:ro
    environment:
      PORT: '8090'
    command:
      - http-server
      - --addr=:8090
      - --config=/files/config.yaml
