version: '2.3'
services:
  # This is a proxy used to block beats until all services are healthy.
  # See: https://github.com/docker/compose/issues/4369
  proxy_dep:
    image: busybox
    depends_on:
      elasticsearch: { condition: service_healthy }
      kibana:        { condition: service_healthy }
      cometd: { condition: service_healthy }

  elasticsearch:
    extends:
      file: ${ES_BEATS}/testing/environments/${STACK_ENVIRONMENT}.yml
      service: elasticsearch
    healthcheck:
      test: ["CMD-SHELL", "curl -u admin:testing -s http://localhost:9200/_cat/health?h=status | grep -q green"]
      retries: 300
      interval: 1s
    ports:
      - 9200:9200

  cometd:
    build: ${ES_BEATS}/testing/environments/docker/cometd
    hostname: cometd
    ports:
      - 8080:8080

  kibana:
    extends:
      file: ${ES_BEATS}/testing/environments/${STACK_ENVIRONMENT}.yml
      service: kibana
    healthcheck:
      test: [ "CMD-SHELL", "curl -u beats:testing -s http://localhost:5601/api/status?v8format=true | grep -q '\"overall\":{\"level\":\"available\"'" ]
      retries: 600

## stream is a mock http service - required for integration testing
  beatStreams:
    image: docker.elastic.co/observability/stream:v0.15.0
    hostname: testStreams
    ports:
      - 8090:8090
    volumes:
      - ./tests/integration/testdata/:/files:ro
    environment:
      PORT: '8090'
    command:
      - http-server
      - --addr=:8090
      - --config=/files/config.yaml