
## <summary>policy for filebeat</summary>

########################################
## <summary>
##	Execute filebeat_exec_t in the filebeat domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`filebeat_domtrans',`
	gen_require(`
		type filebeat_t, filebeat_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, filebeat_exec_t, filebeat_t)
')

######################################
## <summary>
##	Execute filebeat in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`filebeat_exec',`
	gen_require(`
		type filebeat_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, filebeat_exec_t)
')

########################################
## <summary>
##	Execute filebeat server in the filebeat domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`filebeat_initrc_domtrans',`
	gen_require(`
		type filebeat_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, filebeat_initrc_exec_t)
')
########################################
## <summary>
##	Read filebeat's log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`filebeat_read_log',`
	gen_require(`
		type filebeat_log_t;
	')

	logging_search_logs($1)
	read_files_pattern($1, filebeat_log_t, filebeat_log_t)
')

########################################
## <summary>
##	Append to filebeat log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`filebeat_append_log',`
	gen_require(`
		type filebeat_log_t;
	')

	logging_search_logs($1)
	append_files_pattern($1, filebeat_log_t, filebeat_log_t)
')

########################################
## <summary>
##	Manage filebeat log files
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`filebeat_manage_log',`
	gen_require(`
		type filebeat_log_t;
	')

	logging_search_logs($1)
	manage_dirs_pattern($1, filebeat_log_t, filebeat_log_t)
	manage_files_pattern($1, filebeat_log_t, filebeat_log_t)
	manage_lnk_files_pattern($1, filebeat_log_t, filebeat_log_t)
')

########################################
## <summary>
##	Search filebeat lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`filebeat_search_lib',`
	gen_require(`
		type filebeat_var_lib_t;
	')

	allow $1 filebeat_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read filebeat lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`filebeat_read_lib_files',`
	gen_require(`
		type filebeat_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, filebeat_var_lib_t, filebeat_var_lib_t)
')

########################################
## <summary>
##	Manage filebeat lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`filebeat_manage_lib_files',`
	gen_require(`
		type filebeat_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, filebeat_var_lib_t, filebeat_var_lib_t)
')

########################################
## <summary>
##	Manage filebeat lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`filebeat_manage_lib_dirs',`
	gen_require(`
		type filebeat_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, filebeat_var_lib_t, filebeat_var_lib_t)
')

########################################
## <summary>
##	Execute filebeat server in the filebeat domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`filebeat_systemctl',`
	gen_require(`
		type filebeat_t;
		type filebeat_unit_file_t;
	')

	systemd_exec_systemctl($1)
        systemd_read_fifo_file_passwd_run($1)
	allow $1 filebeat_unit_file_t:file read_file_perms;
	allow $1 filebeat_unit_file_t:service manage_service_perms;

	ps_process_pattern($1, filebeat_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an filebeat environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`filebeat_admin',`
	gen_require(`
		type filebeat_t;
		type filebeat_initrc_exec_t;
		type filebeat_log_t;
		type filebeat_var_lib_t;
	type filebeat_unit_file_t;
	')

	allow $1 filebeat_t:process { signal_perms };
	ps_process_pattern($1, filebeat_t)

    tunable_policy(`deny_ptrace',`',`
        allow $1 filebeat_t:process ptrace;
    ')

	filebeat_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 filebeat_initrc_exec_t system_r;
	allow $2 system_r;

	logging_search_logs($1)
	admin_pattern($1, filebeat_log_t)

	files_search_var_lib($1)
	admin_pattern($1, filebeat_var_lib_t)

	filebeat_systemctl($1)
	admin_pattern($1, filebeat_unit_file_t)
	allow $1 filebeat_unit_file_t:service all_service_perms;
	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')
