{{header "Windows Npcap installation settings"}}

# Windows Npcap installation options. These options specify how the Npcap packet
# capture library for Windows should be obtained and installed.
#npcap:
#  # installer_location is either a URL or a bare path. The URL may have an http,
#  # https or file scheme. If it is empty or unset, a default URL pointing to the
#  # current latest version is used.
#  installer_location: ""
#  install_timeout: 120s
#  # retain_download specifies that a downloaded installer will be kept on the host
#  # filesystem and its location will be recorded in the logs.
#  retain_download: false
#  # By default Npcap will be installed only when a newer version of Npcap is available.
#  # force_reinstall forces a new installation of Npcap in all cases.
#  force_reinstall: false
