version: '3.7'

services:
  coredns:
    image: docker.elastic.co/integrations-ci/beats-coredns:${COREDNS_VERSION:-1.5.0}-1
    build:
      context: ./_meta
      args:
        COREDNS_VERSION: ${COREDNS_VERSION:-1.5.0}
    ports:
      - 9153
