awscli==1.18.48
botocore==1.15.48
colorama==0.4.3
docutils==0.15.2
jmespath==0.9.5
pyasn1==0.4.8
python-dateutil==2.8.1
PyYAML==5.3.1
rsa==4.7.2
s3transfer==0.3.3
six==1.14.0
urllib3==1.26.5
protobuf==3.19.5 #Temporary change because of protobuf new version bug: https://github.com/protocolbuffers/protobuf/issues/10051
