auditbeat.modules:
{% for m in modules -%}
- module: {{ m.name }}
  {% if m.metricsets -%}
  metricsets:
    {% for ms in m.metricsets -%}
    - {{ ms }}
    {% endfor %}
  {% endif -%}
  {% if m.extras -%}
  {% for k, v in m.extras.items() -%}
  {{ k }}: {{ v }}
  {% endfor %}
  {% endif -%}
  {% if m.additional_content -%}
  {{ m.additional_content }}
  {% endif -%}
{%- endfor %}

queue.mem:
  events: 4
  flush.min_events: 0
  flush.timeout: 0.01s

{% include './tests/system/config/libbeat.yml.j2' %}
