{{ template "header" . }}
winlogbeat.event_logs:
  - name: Application
    ignore_older: 72h

  - name: System

  - name: Security

  - name: ForwardedEvents
    tags: [forwarded]
{{if not .Reference}}{{ template "elasticsearch_settings" . }}{{end}}
