version: '2.3'

services:
  kafka:
    image: docker.elastic.co/integrations-ci/beats-kafka:${KAFKA_VERSION:-2.1.1}-2
    build:
      context: ${KAFKA_PATH:-.}/_meta
      args:
        KAFKA_VERSION: ${KAFKA_VERSION:-2.1.1}
    ports:
      - 9092
      - 8779
      - 8775
      - 8774
