################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

kubebeat:
  # Defines how often an event is sent to the output
  period: 30s
  files: [
      "/hostfs/etc/kubernetes/scheduler.conf",
      "/hostfs/etc/kubernetes/controller-manager.conf",
      "/hostfs/etc/kubernetes/admin.conf",
      "/hostfs/etc/kubernetes/kubelet.conf",
      "/hostfs/etc/kubernetes/manifests/etcd.yaml",
      "/hostfs/etc/kubernetes/manifests/kube-apiserver.yaml",
      "/hostfs/etc/kubernetes/manifests/kube-controller-manager.yaml",
      "/hostfs/etc/kubernetes/manifests/kube-scheduler.yaml",
      "/hostfs/etc/systemd/system/kubelet.service.d/10-kubeadm.conf",
      "/hostfs/var/lib/kubelet/config.yaml",
      "/hostfs/var/lib/etcd",
      "/hostfs/etc/kubernetes/pki"
  ]
