# ============================== Filebeat inputs ===============================

filebeat.inputs:
- type: journald
  id: log-service
  enabled: true
  paths:
    - ./testdata/input.journal

  include_matches:
    - _SYSTEMD_USER_UNIT=log-service.service

  parsers:
  - multiline:
      type: count
      count_lines: 3

output.file:
  enabled: true
  path: {{.TempDir}}
  filename: output.ndjson
  rotate_every_kb: 1000000

# ============================== Filebeat modules ==============================

filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s

# ================================= Processors =================================
processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~

path.home: {{.TempDir}}
