version: '2.3'
services:
  beat:
    build: ../../metricbeat
    environment:
      - TEST_ENVIRONMENT=false
    working_dir: /go/src/github.com/elastic/beats/x-pack/metricbeat
    volumes:
      - ${PWD}/../..:/go/src/github.com/elastic/beats/
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: host
    command: make

  # Modules
  cockroachdb:
    image: docker.elastic.co/observability-ci/beats-integration-cockroachdb:${COCKROACHDB_VERSION:-19.1.1}-1
    build:
      context: ./module/cockroachdb/_meta
      args:
        COCKROACHDB_VERSION: ${COCKROACHDB_VERSION:-19.1.1}
    ports:
      - 8080

  coredns:
    image: docker.elastic.co/observability-ci/beats-integration-coredns:${COREDNS_VERSION:-1.5.0}-1
    build:
      context: ./module/coredns/_meta
      args:
        COREDNS_VERSION: ${COREDNS_VERSION:-1.5.0}
    ports:
      - 9153

  elasticsearch:
    extends:
      file: ../../metricbeat/docker-compose.yml
      service: elasticsearch

  kibana:
    # Copied configuration from OSS metricbeat because services with depends_on
    # cannot be extended with extends
    image: docker.elastic.co/observability-ci/beats-integration-kibana:${KIBANA_VERSION:-7.3.0}-1
    build:
      context: ../../metricbeat/module/kibana/_meta
      args:
        KIBANA_VERSION: ${KIBANA_VERSION:-7.3.0}
    depends_on:
      - elasticsearch
    ports:
      - 5601

  mssql:
    image: docker.elastic.co/observability-ci/beats-integration-mssql:${MSSQL_VERSION:-2017-GA}-1
    build:
      context: ./module/mssql/_meta
      args:
        MSSQL_VERSION: ${MSSQL_VERSION:-2017-GA}
    ports:
      - 1433
