apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: kube-system
  labels:
    k8s-app: filebeat
data:
  filebeat.yml: |-
    filebeat.inputs:
      - type: filestream
        id: kubernetes-container-logs
        paths:
          - /var/log/containers/*.log
        parsers:
          - container: ~
        prospector:
          scanner:
            fingerprint.enabled: true
            symlinks: true
        file_identity.fingerprint: ~
        processors:
          - add_kubernetes_metadata:
              host: ${NODE_NAME}
              matchers:
                - logs_path:
                    logs_path: "/var/log/containers/"
          
          ## To enable collection of rotated pod logs, replace the above `filebeat.inputs` configuration with this.
          ## WARNING:
          ##    - enabling rotated pod logs ingestion might cause data re-ingestion, refer to the docs for details: https://www.elastic.co/docs/reference/beats/filebeat/running-on-kubernetes#_kubernetes_deploy_manifests
          ##    - container metadata isn't available when collecting logs from /var/log/pods/. Refer to add_kubernetes_metadata docs for details: https://www.elastic.co/docs/reference/beats/filebeat/add-kubernetes-metadata#_logs_path
          #- type: filestream
          #  id: kubernetes-container-logs
          #  gzip_experimental: true # BETA: enable gzip decompression. Refer to the docs for details: https://www.elastic.co/docs/reference/beats/filebeat/filebeat-input-filestream#reading-gzip-files
          #  parsers:
          #    - container: ~
          #  paths:
          #    - /var/log/pods/*/*/*.log*
          #  prospector:
          #    scanner:
          #      fingerprint.enabled: true
          #      symlinks: true
          #  file_identity.fingerprint: ~
          #  processors:
          #    - add_kubernetes_metadata:
          #        host: ${NODE_NAME}
          #        default_indexers.enabled: false
          #        default_matchers.enabled: false
          #        indexers:
          #          - pod_uid:
          #        matchers:
          #          - logs_path:
          #              logs_path: "/var/log/pods/"
          #              resource_type: "pod"
          #

    # To enable hints based autodiscover, remove `filebeat.inputs` configuration and uncomment this:
    # filebeat.autodiscover:
    #   providers:
    #     - type: kubernetes
    #       node: ${NODE_NAME}
    #       hints.enabled: true
    #       hints.default_config:
    #         type: filestream
    #         id: kubernetes-pod-logs-${data.kubernetes.pod.name}_${data.kubernetes.pod.uid}
    #         gzip_experimental: true # BETA: enable gzip decompression. Refer to the docs for details: https://www.elastic.co/docs/reference/beats/filebeat/filebeat-input-filestream#reading-gzip-files
    #         paths:
    #           - /var/log/pods/${data.kubernetes.namespace}_${data.kubernetes.pod.name}_${data.kubernetes.pod.uid}/${data.kubernetes.container.name}/*.log
    #         #  - /var/log/pods/${data.kubernetes.namespace}_${data.kubernetes.pod.name}_${data.kubernetes.pod.uid}/${data.kubernetes.container.name}/*.log* # Use this path instead to ingest rotated pod logs. It might cause data re-ingestion. Refer to the docs for details: https://www.elastic.co/docs/reference/beats/filebeat/running-on-kubernetes#ingesting-rotated-log-files
    #         parsers:
    #           - container: ~
    #         prospector:
    #           scanner:
    #             fingerprint.enabled: true
    #             symlinks: true
    #         file_identity.fingerprint: ~
    # 
    
    processors:
      - add_cloud_metadata:
      - add_host_metadata:

    cloud.id: ${ELASTIC_CLOUD_ID}
    cloud.auth: ${ELASTIC_CLOUD_AUTH}

    output.elasticsearch:
      hosts: ['${ELASTICSEARCH_HOST:elasticsearch}:${ELASTICSEARCH_PORT:9200}']
      username: ${ELASTICSEARCH_USERNAME}
      password: ${ELASTICSEARCH_PASSWORD}
