name: check-x-pack-osquerybeat

on:
  pull_request:
    paths:
      - '.github/workflows/check-xpack-osquerybeat.yml'
      - 'x-pack/osquerybeat/**'
      - 'osquerybeat/**'

env:
  BEAT_MODULE: 'x-pack/osquerybeat'

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version-file: .go-version
    - name: Run check/update
      run: |
        go install github.com/magefile/mage
        make -C ${{ env.BEAT_MODULE }} check update
        make check-no-changes
