name: check-dev-tools

on:
  pull_request:
    paths:
      - '.github/workflows/check-dev-tools.yml'
      - 'dev-tools/**'
      - 'libbeat/scripts/Makefile'

env:
  BEAT_MODULE: 'dev-tools'

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: .go-version
    - uses: actions/setup-python@v6
      with:
        cache: "pip"
        python-version-file: .python-version
    - name: Run check/update
      run: |
        go install github.com/magefile/mage
        make -C ${{ env.BEAT_MODULE }} check
