name: check-docs

on:
  pull_request:
    paths:
      - '.github/workflows/check-docs.yml'
      - '**/*.asciidoc'
      - '**/*.md'
      - 'deploy/kubernetes/*-kubernetes.yaml'

permissions:
  contents: read
  pull-requests: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Fetch Go version from .go-version
      run: echo "GO_VERSION=$(cat .go-version)" >> $GITHUB_ENV
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GO_VERSION }}
    - name: Install libpcap-dev
      run: sudo apt-get install -y libpcap-dev
    - name: Run check
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        go install github.com/magefile/mage@latest
        make check
