name: check-default

on:
  pull_request:
  push:
    branches:
      - main
      - 7.1*
      - 8.*

permissions:
  contents: read
  pull-requests: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: .go-version
    - name: Run check-default
      run: |
        go install github.com/magefile/mage
        make check-default
