- key: prometheus
  title: "Prometheus"
  description: >
    Stats scraped from a Prometheus endpoint.
  short_config: false
  release: ga
  settings: ["ssl", "http"]
  fields:
    - name: prometheus
      type: group
      fields:
        # Order is important here, labels will match first, the rest are double
        - name: labels.*
          type: object
          object_type: keyword
          description: >
            Prometheus metric labels
        - name: metrics.*
          type: object
          object_type: double
          object_type_mapping_type: "*"
          description: >
            Prometheus metric
