###################### Filebeat Config Template ###############################

filebeat.prospectors:
{% if prospectors is not defined %}
{% set prospectors = true %}
{% endif %}
{% if prospectors %}
- input_type: {{input_type | default("log") }}
  # Paths that should be crawled and fetched
  {% if path %}paths:
    - {{ path }}{% endif %}
  # Type of the files. Annotated in every documented
  scan_frequency: {{scan_frequency | default("0.1s") }}
  ignore_older: {{ignore_older}}
  close_inactive: {{close_inactive}}
  harvester_buffer_size: {{harvester_buffer_size}}
  encoding: {{encoding | default("utf-8") }}
  tail_files: {{tail_files}}
  backoff: 0.1s
  backoff_factor: 1
  max_backoff: 0.1s
  close_removed: {{close_removed}}
  close_renamed: {{close_renamed}}
  close_eof: {{close_eof}}
  close_timeout: {{close_timeout}}
  force_close_files: {{force_close_files}}
  clean_inactive: {{clean_inactive}}
  clean_removed: {{clean_removed}}
  harvester_limit: {{harvester_limit | default(0) }}
  symlinks: {{symlinks}}

  {% if fields %}
  fields:
  {% for k,v in fields.items() %}
    {{k}}: {{v}}
  {% endfor %}
  {% endif %}

  fields_under_root: {{"true" if fieldsUnderRoot else "false"}}

  {% if include_lines %}
  include_lines: {{include_lines}}
  {% endif %}

  {% if exclude_lines %}
  exclude_lines: {{exclude_lines}}
  {% endif %}

  {% if exclude_files %}
  exclude_files: {{exclude_files}}
  {% endif %}

  max_bytes: {{ max_bytes|default(10485760) }}

  {% if json %}
  json:
    {% if json.message_key %}message_key: {{json.message_key}}{% endif %}
    {% if json.keys_under_root %}keys_under_root: true{% endif %}
    {% if json.overwrite_keys %}overwrite_keys: true{% endif %}
    {% if json.add_error_key %}add_error_key: true{% endif %}
  {% endif %}

  {% if multiline %}
  multiline:
    pattern: {{pattern}}
    negate: {{negate}}
    match: {{match}}
    timeout: 1s
    max_lines: {{ max_lines|default(500) }}
  {% endif %}
{% endif %}

filebeat.spool_size:
filebeat.shutdown_timeout: {{ shutdown_timeout|default(0) }}
filebeat.idle_timeout: 0.1s
{% if not skip_registry_config %}
filebeat.registry_file: {{ beat.working_dir + '/' }}{{ registryFile|default("registry")}}
{%endif%}
filebeat.publish_async: {{publish_async}}


#================================ General =====================================

# The name of the shipper that publishes the network data. It can be used to group
# all the transactions sent by a single shipper in the web interface.
# If this options is not defined, the hostname is used.
name: {{shipper_name}}

# The tags of the shipper are included in their own field with each
# transaction published. Tags make it easy to group servers by different
# logical properties.
tags: [
  {%- if agent_tags -%}
      {%- for tag in agent_tags -%}
          "{{ tag }}"
          {%- if not loop.last %}, {% endif -%}
      {%- endfor -%}
  {%- endif -%}
]

{% if geoip_paths is not none %}
geoip:
  paths: [
      {%- for path in geoip_paths -%}
          "{{ beat.working_dir + '/' + path }}"
          {%- if not loop.last %}, {% endif -%}
      {%- endfor -%}
  ]
{%- endif %}

{%- if processors %}

#================================ Filters =====================================

processors:
{%- for processor in processors %}
{%- for name, settings in processor.iteritems() %}
- {{name}}:
  {%- if settings %}
  {%- for k, v in settings.iteritems() %}
    {{k}}:
      {{v | default([])}}
  {%- endfor %}
  {%- endif %}
{%- endfor %}
{%- endfor %}

{%- endif %}

#================================ Outputs =====================================

# Configure what outputs to use when sending the data collected by the beat.
# Multiple outputs may be used.

#------------------------------- File output ----------------------------------
{%- if logstash %}
output.logstash:
  hosts: ["{{ logstash.host }}"]
{%- else %}
output.file:
  path: {{ output_file_path|default(beat.working_dir + "/output") }}
  filename: "{{ output_file_filename|default("filebeat") }}"
  rotate_every_kb: {{ rotate_every_kb | default(1000) }}
  #number_of_files: 7
{%- endif %}

{% if path_data %}
#================================ Paths =====================================
path:
  data: {{path_data}}
{% endif %}
